:root
{
	--g50: #F7F7F7;
	--g100: #E1E1E1;
	--g200: #CFCFCF;
	--g300: #B1B1B1;
	--g400: #9E9E9E;
	--g500: #7E7E7E;
	--g600: #626262;
	--g700: #515151;
	--g800: #3B3B3B;
	--g900: #222222;
	--black: #121212;
	--purple: #673ab7;
}

body
{
	font-family: Arial, sans-serif;
}

main
{
	max-width: 1000px;
}

#games ul
{
	padding-left: 0px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#games h3
{
	text-align: center;
}

.leaderboard
{
	height: 200px;
}

.leaderboard img
{
	display: none;
}

.leaderboard table
{
	width: 100%;
	border-collapse: collapse;
}

.loading table
{
	display: none;
}

.loading img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table th, table td
{
	border: 1px solid;
}

#rule-overlay.hidden
{
	display: none;
}

#rule-overlay
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr 10ex;
	grid-template-rows: auto 1fr;
	background: var(--g900);
	opacity: 95%;
}

#rule-overlay button
{
	grid-row: 1;
	grid-column: 2;
	font-size: larger;
}

#rule-box
{
	grid-row: 2;
	grid-column: 1;
	margin: 5ex;
	margin-top: 0px;
	margin-right: 0px;
	padding: 2ex;
	/* border-radius: 5ex; */
	background: var(--black);

	overflow-y: scroll;
}

#rule-box.rawtext
{
	white-space: pre;
}

@media (prefers-color-scheme: dark)
{
	body
	{
		color: var(--g50);
		background-color: var(--black);
	}
	
	a:link
	{
		color: var(--purple);
	}

	table th, table td
	{
		border-color: var(--g500);
	}
}